@using Webdiyer.WebControls.Mvc;
@using Goceen.Website.Domain;
@model PagedList<SysArticle>
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>动态资讯</title>

    <link rel="stylesheet" href="@Url.Content("/Content/pc/css/style.css")">

    <script src="@Url.Content("/Content/pc/js/jquery-1.10.2.min.js")"></script>

</head>
<body>

    @Html.Action("Header", "Partial")

    <img src="@Url.Content("/Content/pc/images/banner1.jpg")" width="100%" />

    <div class="list_pic">
        <div class="wrap clearfix">

            <div class="sub_left fl">

                <div class="news_list">

                    @*<div class="news1 clearfix">
                        <img src="@Url.Content("/Content/pc/images/pic1.jpg")" width="340px;" class="fl" />
                        <div class="news1_right fr">
                            <h3>标题</h3>
                            <p class="date">日期：2015-10-15</p>
                            <p>
                                简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简
                            </p>
                            <a href="/home/news" class="more">查看更多</a>
                        </div>
                    </div>*@

                    <ul class="news_list2">
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <li>
                                    <a class="fl" href="/Home/News/@item.Id">@item.Title</a>
                                    <span class="fr">@item.UpdateDate.ToString()</span>
                                </li>
                            }
                        }
                        
                    </ul>
                </div>


                <div class="dede_pages">
                    @Html.Pager(Model, new PagerOptions
                 {
                     PageIndexParameterName = "p",
                     NumericPagerItemCount = 10,//显示最大数字也索引按钮数
                     CssClass = "pagelist",
                     ContainerTagName = "ul",
                     CurrentPagerItemTemplate = "<li class=\"thisclass\">{0}</li>",
                     DisabledPagerItemTemplate = "<li><a>{0}</a></li>",
                     PagerItemTemplate = "<li>{0}</li>"
                 })
                </div>


            </div>


            <div class="sub_right fr">
                @Html.Action("HotSpots")


            </div>

        </div>
    </div>

    @Html.Action("Footer", "Partial")

</body>
</html>