@using Webdiyer.WebControls.Mvc;
@using Goceen.Website.Domain;
@model PagedList<SysArticle>
@{ Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>动态资讯</title>

    <link rel="stylesheet" href="@Url.Content("/Content/pc/css/style.css")">
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="@Url.Content("/Content/pc/js/jquery-1.10.2.min.js")"></script>

</head>
<body>

   @Html.Action("Header", "Partial")

    <img src="@Url.Content("/Content/pc/images/banner1.jpg")" width="100%" />

    <div class="list_pic">
        <div class="wrap">
            <ul class="list_pic_content clearfix">
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <li>
                            <a href="/Home/News/@item.Id">
                                <div class="img_box">
                                    <img src="@item.RecommendImg" />
                                </div>
                                <div class="title">
                                    @item.Title
                                </div>
                            </a>
                        </li>
                    }
                }

            </ul>
            <div class="dede_pages">
             
                    @Html.Pager(Model, new PagerOptions {
                   PageIndexParameterName = "p",
                   NumericPagerItemCount = 10,//显示最大数字也索引按钮数                           
                   CssClass = "pagelist",
                   ContainerTagName = "ul",
                   CurrentPagerItemTemplate = "<li class=\"thisclass\">{0}</li>",
                   DisabledPagerItemTemplate = "<li><a>{0}</a></li>",
                   PagerItemTemplate = "<li>{0}</li>"
                   })
                   
                </div>
            </div>
        </div>
    @Html.Action("Footer", "Partial")
</body>
</html>
