@model Goceen.Website.Domain.SysArticle
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">

    <title>详情页</title>

    <link href="~/Content/app/css/aui-slide.css" rel="stylesheet" />
    <link href="~/Content/app/css/aui.2.0.css" rel="stylesheet" />
    <link href="~/Content/app/css/style.css" rel="stylesheet" />

</head>
<body style="background:#fff;">


    @Html.Action("AppHeader", "Partial")


    <div class="article">
        <h2>@Model.Title</h2>
        <p class="date">@Model.UpdateDate.ToString() <a href="#">宁夏旅游</a></p>
        <div class="article_content">
            <img src="@Model.RecommendImg" />
            <div id="page_content" class="page_content">

            </div>
        </div>
        <div class="article_bottom clearfix">
            <span>阅读 @Model.ViewCount </span>
        </div>
    </div>


</body>


<script src="~/Content/app/js/api.js"></script>
<script src="~/Content/app/js/aui-popup.js"></script>
<script type="text/javascript">
    var popup = new auiPopup();
    function showPopup(){
        popup.show(document.getElementById("top-left"))
    }
</script>

<script src="~/Content/app/js/jquery-1.4.2.min.js"></script>
<script>
$(function(){
    var i = '1';
    $('.zan').click(function(){
        var num = $(this).find('font').html() * 1;
        i = $('.zan').attr('class');
        if(i == 'zan'){
            $(this).addClass('active');
            $(this).find('i').html('&#xe600;');
            num = num + 1 ;
            $(this).find('font').html(num);
        }else{
            $(this).removeClass('active');
            $(this).find('i').html('&#xe601;');
            num = num - 1 ;
            $(this).find('font').html(num);
        }
    });
})
</script>

</html>
<script>
    $(function () {
        var html = decodeHtml("@Model.Content")
        $("#page_content").html(html);//将html内容添加在
    })
    //将html代码格式化成可以直接编译的代码
    function decodeHtml(s) {
        var HTML_DECODE = {
            "&lt;": "<",
            "&gt;": ">",
            "&amp;": "&",
            "&nbsp;": " ",
            "&quot;": "\"",
            "&copy;": ""

            // Add more
        };

        var REGX_HTML_ENCODE = /"|&|'|<|>|[\x00-\x20]|[\x7F-\xFF]|[\u0100-\u2700]/g;

        var REGX_HTML_DECODE = /&\w+;|&#(\d+);/g;

        var REGX_TRIM = /(^\s*)|(\s*$)/g;

        s = (s != undefined) ? s : "";
        return (typeof s != "string") ? s :
            s.replace(REGX_HTML_DECODE,
                      function ($0, $1) {
                          var c = HTML_DECODE[$0];
                          if (c == undefined) {
                              // Maybe is Entity Number
                              if (!isNaN($1)) {
                                  c = String.fromCharCode(($1 == 160) ? 32 : $1);
                              } else {
                                  c = $0;
                              }
                          }
                          return c;
                      });
    };
</script>