@model Goceen.Website.Domain.SysSlide
@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div id="DivAddType" style="width:370px;height:280px;margin:10px;">
    @using (Html.BeginForm("Save", "Channel", FormMethod.Post, new { @id = "form" }))
    {
        @Html.AntiForgeryToken()
        <table id="tblAddBatch" class="view" style="width:98%">
            <tr>
                <th>
                    <label for="name">图片标题：</label>
                </th>
                <td>
                    @Html.HiddenFor(m => m.Id)
                    @Html.EasyuiInput(m => m.ImgTitle, new { @class = "easyui-validatebox" })
                </td>
            </tr>
            <tr>
                <th>
                    <label for="orderno">排序：</label>
                </th>
                <td>
                    @*<input class="easyui-validatebox" data-options="required:true,validType:['number','range[0,999,\'排列序号必须是0-999之间\']']" id="OrderNo" name="OrderNo" />*@
                    @Html.EasyuiInput(m => m.OrderNo, new { @class = "easyui-validatebox" })
                </td>
            </tr>
            <tr>
                <th>
                    <label>跳转地址：</label>
                </th>
                <td>
                    @Html.EasyuiInput(m => m.LinkUrl, new { @class = "easyui-validatebox" })
                </td>
            </tr>
            <tr>
                <th>
                    <label>图片地址：</label>
                </th>
                <td>
                    @Html.EasyuiInput(m => m.ImgUrl, new { @class = "easyui-validatebox" })
                </td>
            </tr>
            <tr>
                <th>
                    <label>上传：</label>
                </th>
                <td>
                    <input type="file" id="uploadfile" />
                    <div id="fileQueue"></div>
                </td>
            </tr>            
            <tr>
                <td colspan="2" style="text-align:right; padding-top:10px">
                    <a href="javascript:void(0)" class="easyui-linkbutton" id="btnAddOKType" iconcls="icon-ok">确定</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript: $('#modalwindow').window('close')">关闭</a>
                </td>
            </tr>
        </table>
    }
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            var auth = "@(Request.Cookies[FormsAuthentication.FormsCookieName]==null?string.Empty:Request.Cookies[FormsAuthentication.FormsCookieName].Value)";
            var ASPSESSID = "@(Session.SessionID )";
            $('#uploadfile').uploadify({
                'debug': true,
                'swf': '@Url.Content("~/Scripts/uploadify/uploadify.swf")' + '?m=' + Math.random(),
                'uploader': '@Url.Content("~/Upload/UploadImg")',
                'uploadLimit': 1,
                'fileObjName': 'Filedata',
                'buttonTex': '选择文件',
                'auto': true,
                'formData': { 'ASPSESSID': ASPSESSID, 'AUTHID': auth },
                'fileTypeExts': "*.jpg;*.png;*.bmp;*.gif;*.pic;*.jpeg",             // 扩展名
                'fileTypeDesc': "请选择 jpg png bmp gif pic文件",     // 文件说明
                'queueID': 'fileQueue',
                'multi': false,
                'removeCompleted': true,
                'removeTimeout': 5,
                'onUploadSuccess': function (file, data, response) {
                    var result = eval("(" + data + ")");
                    $('#RecommendImg').val(result.picpath);
                },
                'onUploadError': function (file, errorCode, errorMsg, errorString) {
                    alert('The file ' + file.name + ' could not be uploaded: ' + errorString);
                }
            });
        });

        $("#btnAddOKType").click(function () {
            var form = $("#form");
            if (form.form("validate")) {
                $.ajax({
                    debug: true,
                    url: "/Slide/Save",
                    type: "Post",
                    data: form.serialize(),
                    dataType: "json",
                    success: function (data) {
                        if (data.Success) {
                            $.messager.alert('提示', data.Message, "info", function () {
                                $("#modalwindow").window('close');
                                $('#grid').datagrid("reload");

                            });
                        }
                        else {
                            $.messager.alert("提示", data.Message);
                        }
                    }
                });
            }
            return false;
        });

    </script>
}